# Envs
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Logs
*.log

# Local config
.env
.env.local
# Streamlit local configs (commit only config.toml)
.streamlit/*
!.streamlit/config.toml

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
